@import './variables.scss';
@import './navbar.scss';
@import './sidebar.scss';
@import './transition.scss';
@import './message.scss';

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

blockquote,
body,
dd,
dir,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
menu,
ol,
optgroup,
p,
pre,
tbody,
td,
textarea,
tfoot,
th,
thead,
ul {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  list-style-image: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:active {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0 none;
}

a:focus {
  outline: none;
}

:any-link {
  color: rgb(0, 0, 238);
}

.clearfix::after,
.clearfix::before {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; // ie6 7识别 可不加
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.animate__animated {
  animation-duration: 500ms !important;
}

:root {
  --animate-duration: 500ms !important;
}

.el-menu-item [class^=el-icon-],
.el-submenu [class^=el-icon-] {
  // width: initial;
  width: 18px;
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: auto;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  border: 1px solid #efefef;
  background-color: #f7f7f7;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  min-width: 25px;
  min-height: 25px;
  border: 1px solid #e0e0e0;
  background-color: #e6e6e6;
}
